<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.model.repo.DayRepo">
	<insert id="insert">
		insert into day (date, weather, travel_id) values(#{date}, #{weather}, #{travel_id})
	</insert>
	<update id="update">
		update day set date=#{date}, weather=#{weather} where id=#{id}
	</update>
	<delete id="delete">
		delete from day where id=#{id}
	</delete>
	<select id="select" resultType="Day">
		select * from day where id=#{id}
	</select>
	<insert id="insertAttraction">
		insert into dayattraction values (#{id}, #{attraction_id})
	</insert>
	<select id="selectAttraction" resultType="Integer">
		select attraction_id from dayattraction where day_id=#{id}
	</select>
	<select id="selectAll" resultType="Day">
		select * from day where travel_id=#{travel_id}
	</select>
	<delete id="deleteAttraction">
		delete from dayattraction where day_id=#{id}
	</delete>
	<delete id="deleteoneAttraction">
		delete from dayattraction where day_id=#{id} and attraction_id=#{content_id};
	</delete>
</mapper>