<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.trip.model.repo.HotPlaceRepo" >
	
	<insert id="insert">
		INSERT INTO hotplace (title, content, writer_id, latitude, longitude, img, address, name, sido_code)
		VALUES (#{title}, #{content}, #{writer_id}, #{latitude}, #{longitude}, #{img}, #{address}, #{name}, #{sido_code})
	</insert>
	
	<update id="update">
		UPDATE hotplace
		SET title=#{title}, content=#{content}, img=#{img}
		WHERE id=#{id}
	</update>

	<delete id="delete">
		DELETE FROM hotplace
		WHERE id=#{id}
	</delete>

	<select id="select" resultType="HotPlace">
		SELECT * FROM hotplace
		WHERE id=#{id}
	</select>

	<select id="selectAll" resultType="HotPlace">
		SELECT * FROM hotplace
		<if test="find!='none'">
			<if test="id==0">
				WHERE title LIKE concat('%', #{find}, '%')
			</if>
			<if test="id!=0">
				WHERE sido_code=#{id} AND title LIKE concat('%', #{find}, '%')
			</if>
		</if>
		<if test="find=='none'">
			<if test="id!=0">
				WHERE sido_code=#{id}
			</if>
		</if>
		<if test="sort!='none'">
			ORDER BY ${sort} DESC
		</if>
	</select>
	
	<update id="update_hit">
		UPDATE hotplace
		SET hit=hit+1
		WHERE id=#{id}
	</update>
	
	<update id="update_good">
		UPDATE hotplace
		SET good=good+#{act}
		WHERE id=#{id}
	</update>

</mapper>